.faq {
  margin-bottom: 103px;

  &__title {
    margin-bottom: 38px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 0 32px 6px;
    border-top: 1px solid $gray;

    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }

  &__item-title {
    line-height: 32px;
  }

  &__slash {
    color: $gray;
    font-size: 32px;
  }

  &__item-btn {
    width: 50px;
    height: 50px;
    background-color: $btnBg;
    border: none;
    border-radius: 50%;
    background-image: url("../img/faq_cross.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
